.sortButton {
  margin-left: 0.5rem;
  padding: 0.25rem 0;
  outline: 0;
  background-color: #000;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #fff;
  text-transform: capitalize;
  appearance: none;
}

.activeButton {
  border-color: #ccc;
}

.city {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  text-align: left;
  font: inherit;
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.city--blue {
  color: deepskyblue;
}

.city--black {
  color: #ccc;
}

.city--red {
  color: tomato;
}

.city--yellow {
  color: yellow;
}

.cityName {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
}

.diseases {
  display: flex;
}

.disease {
  display: flex;
}

.pill {
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 0.125rem;
  opacity: 0.3;
  margin-left: 0.125rem;
}

.filled {
  opacity: 1;
}

.blue {
  background-color: deepskyblue;
}

.black {
  background-color: #ccc;
}

.red {
  background-color: tomato;
}

.yellow {
  background-color: yellow;
}

.researchCenter {
  position: relative;
  top: 1px;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
}

.players {
  display: flex;
  margin-left: 0.25rem;
}

.players:empty {
  display: none;
}
.player {
  margin-left: 1px;
}
