.tabBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  pointer-events: none;
}

.tabBarButton {
  border: 1px solid #ccc;
  height: 3rem;
  width: 3rem;
  background-color: #000;
  outline: 0;
  pointer-events: initial;
}

.selectedTab {
  background-color: #333;
}
