.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.uiVisible {
  pointer-events: initial;
}

.uiWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: calc(100% - 3rem);
  pointer-events: none;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: blur(4px);
  pointer-events: initial;
}

@media (min-width: 600px) {
  .uiWrapper {
    align-items: center;
  }
}
