.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modalUiCard {
  margin: 0;
}

.buttonWrapper {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}

.confirmButton,
.cancelButton {
  font: inherit;
  background-color: #fff;
  border: 0;
  margin: 0;
  color: #000;
  padding: 0.5rem;
  white-space: nowrap;
}

.confirmButton {
}

.cancelButton {
  margin-right: 1rem;
}
