.city {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.25rem 0.5rem 0.5rem;
  opacity: 0;
  border-radius: 0.25rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.infectionRow {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.pill {
  height: 0.25rem;
  width: 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  opacity: 0.3;
}

.pill:first-child {
  margin-left: 0;
}

.filled {
  opacity: 1;
}

.black {
  background-color: #999;
}

.blue {
  background-color: dodgerblue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
