.city {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.25rem 0.5rem 0.5rem;
  opacity: 0;
  border-radius: 0.25rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.quarantined {
  background-color: rgba(0, 50, 0, 0.65);
  border: 1px solid green;
}
.black {
  color: #ccc;
}

.blue {
  color: deepskyblue;
}

.red {
  color: tomato;
}

.yellow {
  color: yellow;
}

.infectionRow {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.pill {
  height: 0.25rem;
  width: 0.75rem;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  opacity: 0.3;
}

.pill:first-child {
  margin-left: 0;
}

.filled {
  opacity: 1;
}

.pill.black {
  background-color: #ccc;
}

.pill.blue {
  background-color: deepskyblue;
}

.pill.red {
  background-color: tomato;
}

.pill.yellow {
  background-color: yellow;
}

.players {
  display: flex;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.playerToken {
  margin-left: -0.1rem;
}

.researchCenter {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  bottom: 100%;
  margin-bottom: -1px;
  right: 0;
}
