.playerCards {
  margin-top: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.role {
  display: flex;
  margin-top: 1rem;
}

.token {
  flex-shrink: 0;
  margin-right: 1rem;
}

.roleName {
  margin-bottom: 0.5rem;
}

.abilityList {
  margin: 0;
  padding-left: 1rem;
}

.ability {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.select {
  background-color: #fff;
}
