.wrapper {
  min-width: 260px;
}

.cityName {
  margin-bottom: 1rem;
}

.option {
  margin-top: 1rem;
}

.cost {
  margin-top: 0.5rem;
}

.select {
  background-color: #fff;
}

.discardOptions {
  margin: 1rem 0;
}

.checkboxRow {
  display: flex;
  margin: 0.25rem 0;
}
